body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: white;
}
html {
  width: 100%;
  height: 100%;
}



h2{
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: darkred;
}

h1{
  color: darkred;
  font-size: 25px;
}

h3{
  color: darkred;
  font-size: 20px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}




a {
  color: #42DCA3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}
.light {
  font-weight: 400;
}

#output {
  font-size: 24px;
}

#locationCoordinates {
  font-size: 16px;
}

/*#contentFrame {*/
  /*height: 5000px;*/
/*}*/


/*#navbar a {*/
  /*display: block;*/
  /*color: #CCCCCC;*/
  /*text-align: center;*/
  /*padding: 0.6em 1em;*/
  /*text-decoration: none;*/
/*}*/

/*#navbar {*/
  /*background-color: #111111;*/
  /*float: left;*/
  /*width: 100%;*/
/*}*/

/*#navbar ul {*/
  /*text-align:center;*/
/*}*/

/*#navbar ul li {*/
  /*float:left;*/
  /*display:inline;*/
/*}*/

/*#navbar ul li:hover {*/
  /*background-color: #333333;*/
/*}*/

/*#navbar ul li ul {*/
  /*position: absolute;*/
  /*width: 8em;*/
  /*background-color: #333333;*/
  /*padding: 0;*/
/*}*/

/*#navbar ul li ul li {*/
  /*width: 8em;*/
/*}*/

/*#navbar ul li ul li:hover a {*/
  /*background-color: #555555;*/
/*}*/

/*#navbar ul li ul.fallback {*/
  /*display:none;*/
/*}*/

/*#navbar ul li:hover ul.fallback {*/
  /*display:block;*/
/*}*/





.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 45px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}




.content-section {
  padding-top: 100px;
}

.userInput-section{
  width: 100%;
  padding: 50px 50px 100px 100px;
  color: black;
  background: url(../img/i2.jpg) no-repeat center center scroll;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.prediction-section{
  width: 100%;
  padding: 50px 50px 100px 100px;
  color: black;
/*  background: url(../img/input-bg1.jpg) no-repeat center center scroll;*/
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.contact-section{
  width: 100%;
  padding: 50px 50px 100px 100px;
  color: black;
/*  background: url(../img/input-bg1.jpg) no-repeat center center scroll;*/
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}





.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}



ul.banner-social-buttons {
  margin-top: 15px;
}



/*
Model navbar
Based on example here: https://toddmotto.com/html5-and-jquery-super-simple-drop-down-nav/
*/
#modelnav a {
  display: block;
  color: #CCCCCC;
  text-align: center;
  padding: 0.6em 1em;
  text-decoration: none;
}

#modelnav {
  background-color: #111111;
  float: left;
  width: 100%;
}

#modelnav ul {
  text-align:center;
}

#modelnav ul li {
  float:left;
  display:inline;
}

#modelnav ul li:hover {
  background-color: #333333;
}

#modelnav ul li ul {
  position: absolute;
  width: 8em;
  background-color: #333333;
  padding: 0;
}

#modelnav ul li ul li {
  width: 8em;
}

#modelnav ul li ul li:hover a {
  background-color: #555555;
}

#modelnav ul li ul.fallback {
  display:none;
}

#modelnav ul li:hover ul.fallback {
  display:block;
}