/*
Styles for Project
*/
body {
  background-color: #111111;
  color: #111111;
  max-width: 1366px;
  font-family: Verdana, Geneva, sans-serif;
}

#contentFrame {
  height: 5000px;
}

/*
Navbar
Based on example here: https://toddmotto.com/html5-and-jquery-super-simple-drop-down-nav/
*/
#navbar a {
  display: block;
  color: #CCCCCC;
  text-align: center;
  padding: 0.6em 1em;
  text-decoration: none;
}

#navbar {
  background-color: #111111;
  float: left;
  width: 100%;
}

#navbar ul {
  text-align:center;
}

#navbar ul li {
  float:left;
  display:inline;
}

#navbar ul li:hover {
  background-color: #333333;
}

#navbar ul li ul {
  position: absolute;
  width: 8em;
  background-color: #333333;
  padding: 0;
}

#navbar ul li ul li {
  width: 8em;
}

#navbar ul li ul li:hover a {
  background-color: #555555;
}

#navbar ul li ul.fallback {
  display:none;
}

#navbar ul li:hover ul.fallback {
  display:block;
}